.page-id-2{

    .entry-title{
        font-family: $font_sans;
        font-size: 2.4rem;
        color:#404040;


    }
    .menu-main-menu-container{
        a{
            color:$color_green !important;
        }
    }


    .entry-content{





        h2{
            font-family: $font_sans;
        }
    }




}