
.home {
 
  img{
      height: 275px;
      width: 275px;
      align-self: center;
  }


    .site-header{
      a{
         color: white;
       
          &:hover { 
          text-decoration: none; 
          font-weight: none 
       }   
      }  
    }
    h1{
        text-align: center;
        margin: 31px 0px 60px;
    }

        .building_blocks{
            display: flex;
            flex-direction: row;
            padding-bottom: 40px;
            justify-content: space-between;
            margin-right: auto;
            margin-left: auto;

           
            width: 1120px;



            .termin{


                height: 70px;
                width: 70px;
            }



            div{
                display: flex;
                flex-direction: column;
                height: 333px;
                width: 333px;
                border:1px solid #e1e1e1;
                border-top: 6px solid #e1e1e1;
                padding: 20px;
                margin-right: 25px;
                border-color: $color_light_grey;
                &:hover{
                    border-color:$color_orange;


                }
            


            .goto_link{
                background: $color_green;
                text-decoration: none;
                color: white;
                padding: 10px 24px;
                align-self:center;
                &:hover{
                    background-color: darken($color_green, 10%);
                }


            &:visited{
                color:white;
            }

            }
        }




















    }

    .journal-stuff-container{
        margin-bottom: 50px;
    }
   .journal-date{
    height: 180px;
    width: auto;
    border: 1px solid #e1e1e1;
    padding: .75rem 1.5rem;


}

    .journal-container{
        .journal-cat{
            width: 400px;
            
            p{
                margin-bottom: 0px;

            }
        }


        display: flex;
        justify-content: space-evenly;
    
        img{
            width: 400px;




        }

        .journal_buttn{
            border: 1px solid #000;
            color: #000;
            font-size: .9rem;
            line-height: 1;
            padding: .75rem 1.5rem;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
              background: $color_green;
              color: white;
            }
            




        }

     .journal-thumb{
         background-color: #e1e1e1;
     }


      span{
          font-family: $new_font;
          font-size: 12px;
      }

      a{
          font-family: $font_sans;
          font-size: 20.8px;
          text-decoration: none;
    
          
      }







    }



  


}


// about page



.page-id-9 {
    
        margin-top: -32px;
    
   
    .entry-header{
        display: none;
        
    }


   .entry-content{
       h2{
           font-size: 33px;
       }
    .entry-header{
        height: 100vh;
    }



   }

   .entry-title{
       font-family: $font_sans;
       font-size: 48px;
       color: white !important;

   }


   p{
       max-width: 800px;
       margin-left: auto;
       margin-right: auto;
       line-height:1.75;
   }



}