/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/*  Header Styling nav */

form{
  .wpcf7-form-control{
  background-color: #f4f4f4;
  border:1px solid #e1e1e1;
  }
}

.site-header{

    position: fixed;
    width: 100%;
    

    .container{
        width: 100%;
        max-width: 1120px;
        display: flex;
        margin: 0 auto;
        
        .logo_tent{
          position: relative;
           //margin-left: 300px;
            height: 60px;
            width: 50px;
            
        }

    }
       .main-navigation{
         display: flex;
        justify-content: flex-end;
    }
    li {
        margin: 20px;


        }
       .menu-main-menu-container{
         text-transform: uppercase;
        
         a{
           font-family: $font_sans;

          &:visited{
            color: $color_green;
          }
         }
       }    

}

.logo-tent{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../project-04/images/home-hero.jpg) no-repeat;
    background-size: cover, cover;
    height: 100vh;
    padding-bottom: 50px;

  img{
    position: relative;
    left: 45%;
    top: 30%;
  }

    }
    h1{
      font-family: $font_sans;
      text-transform: uppercase;
    }

    .about_background{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../project-04/images/about-hero.jpg) no-repeat;
        background-size: cover, cover;
        height: 100vh;
        padding-bottom: 50px;

    }

// home page, and about page nav bar style

 .home {
 
       .site-header{
       a{
           color: #ffffff;
           &:visited{
             color:$color_yellow;
           }
 
          &:hover{ 
             color:$color_yellow;
        
             text-decoration: none; 
             font-weight: none 
              }
      

         }

       }

      
    }


.archive.post-type-archive{

  .taxo_titles{
    padding-top: 100px;
    font-family: $font_to;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 40px;
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;

    .Shop-title{
      position: relative;
      left: 40px;
    }

    ul{
      display: flex;
      list-style: none;

      li{

        padding: 20px;
        a{
          font-size: 19px;
          font-family: $font_sans;
          text-decoration: none;
          color: $color_green;
          text-transform: uppercase;
        }
      }
    }




  }

     .grid_wrapper{
   
       
      display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 0 200px 84px;




    

    
      // display: grid;
    	// grid-template-columns: repeat(4, 1fr);
    	// grid-auto-rows: 250px;
    	// grid-gap: 20px 20px;

      .post_grid{
        h1{
          font-size: 16px;
          font-family: $font_one;
        }
        .product_pic{
        width: 100%;
        height: auto;
        object-fit: cover;
        background-color: #e1e1e1;

         a{
           img{
            height: 235px;
             max-width: 100%;
             object-fit: cover;
           }

            }
        }

        .Product-type{
          border: 2px solid #e1e1e1;

          .productt_title{
            display: flex;
            top: 35px;
             justify-content: flex-start;
              position: relative;
          }


          .product_price{
            display: flex;
            justify-content: flex-end;
          }




        }
          
      }


   }
   

}
.product-template-default{

  .site-main{
    padding-top: 200px;
  }

  .site-content{
    width: 1120px;
    margin-left: auto;
    margin-right: auto;



    .product_post{
      img{
        height: 400px;
        width: 400px;
      }



    }
  }

}

.page-template-default{
  .menu-main-menu-container{
    text-transform: uppercase;
    
      a{
      color: $color_yellow;
     &:visited{
     color:$color_yellow
     }
    }
  }


}


.blog{
.content-area{
  padding-top: 20px;
  

}
}

.blog{


  .readmore{
    
    border: 1px solid #000;
    color: #000;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      background-color: $color_green;
      color: white
    }
    
  }
  
  .site-main {
    margin-top: 40px;
    margin-right: 10px;
  }
  
}


.entry-header-journal{
  position: relative;
  overflow: hidden;
  
  
  
  .entry-title {
    background-color: #248a83;
    font-size: 2.1rem;
    padding: 10px;
    width: 70%;
    
    top: 5%;
    position: absolute;
    a {
      color: white;
     text-decoration: none;
      &:visited{
        color: #ffffff;
      }
      &:hover {
        background: $color_green;
        border: 1px solid $color_green;
        color: #fff;
      }
    }
  }
  
  max-height: 600px;
  img {
    height: auto;
    width: 100%;
  }
  
  
  .entry-meta {
    position: absolute;
    
    bottom: 0;
    right: 0;
    background-color: $color_green;
    color: #fff;
    width: 40%;
    padding: 6px;
  }
  
  
  
}

/* single post */


.flex-two-col {
  padding-top: 70px;
  margin-top: 1em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  .content-area{
    padding-top: 40PX;
  }


  .entry-title{
    color: white;

  }

 .widget-area{
    padding-top: 50px;
    width: 300px;
    height: 100vh;
    padding-left: 50PX;
    border-left: 1px solid #e1e1e1;
    margin-left:50px;
    
    .widget_archive{
      padding-left: 50px;
      a{
        text-decoration: none;
      }
    }

              
    }
    .entry-meta{
      box-sizing: unset !important;
      width: 50%;
    }

    .tent-biz-hours-class{
      width: 250px;
    }

    .wid_container{
      h1{

        font-family: $font_sans;
        font-size: 30px;
        color:#2f1339;
        text-transform: uppercase;

      }

      span{
        margin: 20px;
        a{
          color: $color_green !important;
          text-decoration: none;
        }

      }
    }
}






.product-template-default.single.single-product{
  .site-content{
    padding-bottom: 100px;
  }


  .product_container{
    display: flex;

    img{
      height: 447px;
      width: 560px;
      



    }
    .entry-header{
      position: relative;
      bottom: 70px;
      left: 25px;
      color: $color_orange;

    }
    .product_price{
      
      position: relative;
    top: 50px;
    font-size: 25px;
    left: 25px;
    }
    .entry-content{
      width: 530px;
      height: 230px;
      margin-left: 30px;
      font-family: $new_font;
      font-size: 20px;

    }
  }

  .social_buttons{
    display: flex;
    justify-content: center;
    position: relative;
    left: 600px;
    bottom: 20px;
    width: 400px;
    span{
      margin: 14px;
    }



    button{
      border: 1px solid #000;
      border-radius: 0;
      line-height: 0;
      margin-left: 5px;
      margin-right: 5px;
      padding: .75rem 1.5rem;
  
      background: transparent;
      text-transform: uppercase;
      text-decoration: none;
      
      color: black;
      &:hover{
        background:$color_green;
        color: white;
      }
      
    }







  }

}



.archive.tax-product_type{
  .page-title{
    display: flex;
    justify-content: center;
    padding-top: 120px;
  }

  .taxonomy-description{
    justify-content: center;
    display: flex;
  }


  .grid_wrapper{
    border-top: 1px dashed #c8c8c8;

    padding-top: 100px;
   
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px 200px;
  
  
  .post_grid{
    h1{
      font-size: 16px;
      font-family: $font_one;
    }
    .product_pic{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #e1e1e1;

     a{
       img{
        height: 235px;
         max-width: 100%;
         object-fit: cover;
       }

        }
    }

    .Product-type{
      border: 2px solid #e1e1e1;


      .productt_title{
        font-family: $new_font;
        font-weight:400;

        display: flex;
        top: 35px;
         justify-content: flex-start;
          position: relative;
        
      }


      .product_price{
        display: flex;
        justify-content: flex-end;
      }




    }
      
  }

  

}
}


.page-template-default.page{
  .entry-title{
    color: black;
  }
  
  .content-area{


    padding-top: 0;
  }


}


.archive.date{
  .readmore{
   
	background-color: $color_green !important;
    color: #000;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
	color: white;
    &:hover{
      opacity: 0,5;
	  
    }
  }
}





.search.search-results{


  .site-main{


    .entry-title{
      a{
        text-decoration: none;
        font-family: $font_sans;
        font-size: 33px;
        text-transform: uppercase;
        &:hover{
          color: black !important;

        }
      }
    }
  }




  .readmore{
    border: 1px solid #000;
	background-color: transparent;
    color: #000;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
   color:black;
   &:hover{
     background-color: $color_green;
     color: white;
   }
 
  }
}



