/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/*  Header Styling nav */


.site-header{

    display: flex;
    text-align: center;
    padding: 100px;
}



